@charset "UTF-8";


@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to right, #57b6b3, #5f2c82)
    }

    main {
        height: 530px;
    }
   
    #login {
        width: 80vh;
        height: 300px;
    }

    #img {
        float: left;
        width:30%;
        height: 100%;
       background-position:  center center;

    }

    #form {
        float: right;
        width: 70%;
    }

}
 

@media screen and (min-width:992px)  {
    body {
        background-image: linear-gradient(to left, #49a09d, #5f2c82)
    }
    
    #login {
        width: 950px;
        height: 350px;

    }

    #img {
        float: right;
        width: 40%;
        height: 100%;
    }
    
    #form {
        float: left;
        width: 60%
    }

    h1{
        font-size: 2em;
     }
     
     p {
         font-size: 1.2em;
     }
}

